.communication {
  margin-right: 69px;
}

/* logo */

.logo-secondary {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-web {
  color: $accent-color;
}

.logo-studio {
  color: $background-color;
}
