.adress {
  margin-top: 20px;
  margin-bottom: 9px;

  color: $background-color;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.adress-contacts .mail,
.adress-contacts .phone {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.adress-contacts .item {
  margin-bottom: 9px;
}
